* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
  background-color: black;
}

header {
  background-color: #226b52;
  padding: 12px 0;
  margin-bottom: 15px;
}

h1 {
  text-align: center;
  color: white;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 4px;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 200px;
  background-color: white;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.item .item__image {
  width: 100%;
}

.item .item__add {
  background-color: #308b6b;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 5px;
  color: white;
}

.cart {
  display: flex;
  flex-basis: 30%;
  flex-flow: column wrap;
  background-color: #38745f;
  padding: 10px;
  margin-right: 20px;
  border-radius: 8px;
  color: white;
}

ol {
  list-style-type: none;
}

.cart__item {
  margin-bottom: 16px;
  background-color: #ffffff;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  color: #226b52;
  font-weight: 600;
}

.cart .cart__title {
  flex-basis: 1;
  font-size: 22pt;
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
}

.empty-cart {
  border-radius: 4px;
  border: 0;
  padding: 4px 0;
  font-size: 17px;
  font-weight: 600;
  color: #226b52;
}

.loading {
  width: 100%;
  text-align: center;
  position: fixed;
  color: white;
  font-size: 30px;
}

.none {
  display: none;
}

.item__price {
  margin: 0 0 6px 6px;
}

p {
  font-weight: 600;
  margin: 9px 0 16px 0;
  font-size: 22px;
}
